menu "Factory Firmware Example Configuration"
    config VOICE_ID
        string "Speaker Id"
        default "qiumum_0gushi"
        help
            speaker id from https://czyt.tech/post/a-free-tts-api/?from_wecom=1
    config VOLUME_LEVEL
        int "volume level"
        default "90"
        range 1 100
        help
            speaker volume
    config ENABLE_FACTORY_FW_DEBUG_LOG
        bool "Enable debug log level for this example project"
        default "n"
        help
            Enable debug log level for this factory firmware example project

    config EXAMPLE_SKIP_COMMON_NAME_CHECK
        bool "Skip server certificate CN fieldcheck"
        default y
        help
            This allows you to skip the validation of OTA server certificate CN field.
endmenu